.parent{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 50%;
  height: 440px;
  text-align: center;
  border-radius: 30px;
}

.container > .heading {
  background-color: #2253c8;
  padding: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}

.heading > h1 {
  color: white;
  font-size: 40px;
}

.child > p {
  font-size: 20px;
  font-weight: 500;
}

.child > input {
  width: 140px;
}


@media (max-width: 768px) {
  
  .parent{
  
  }
  
  .container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 80%;
    height: 440px;
    text-align: center;
    border-radius: 30px;
  }
  

  
  .heading > h1 {
    color: white;
    font-size:20px;
  }
  
  .child > p {
    font-size: 20px;
    font-weight: 500;
  }
  
  .child > input {
    width: 140px;
  }

}